<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <nav>
        <ul>

            <li><a href="{% url 'home' %}">Home</a></li>


            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">My Receipts</a></li>
            <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
            <li><a href="{% url 'category_list' %}">My Categories</a></li>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
            <li><a href="{% url 'account_list' %}">My Accounts</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>

</html>
